[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
django-rest-auth = "*"
django-cors-headers = "*"
dj-database-url = "*"
django-allauth = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
django-heroku = "*"
raven = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.6"
